

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {

    body {
    font-family: 'Courier New', Courier, monospace;
    overflow: scroll
    }
    .body{
        text-align: left;
        text-indent: 50px
    }

    h1 {
    text-align: center;
    }
    .centered-button{
        align-items: center;
    }

    .journal-list {
    position: absolute;
    width: 286px;
    height: 363px;
    left: 39px;
    top: 250px;
    border: solid black 2px;

    }
    .day {
        text-align: center;
    }
    p{
        overflow: scroll
    }
    .below-fold{
        font-family: 'Courier New', Courier, monospace;
        font-size: 16px;

    }

}


